/* Reset some basic elements */
body, h1, h2, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Untitled', sans-serif;
    overflow: auto; /* Allow scrolling when content overflows */
    margin: 0;
    padding: 20px;
    color: white; /* Set all text to white */
    background: linear-gradient(to bottom, #0066cc 0%, #003366 100%);
}

/* Ocean background styling */
#fish-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(to bottom, #0066cc 0%, #003366 100%);
}

/* Container styling */
.container {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
    z-index: 1;  /* Ensure this is above the fish container */
}

/* Heading styling */
.heading {
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

/* Verse styling */
.verse {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

/* Location styling */
.location {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.3);
}

/* Button styling */
.btn {
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: white; /* Keep button text white */
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Filter container styling */
.filter-container {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
}

/* Toggle container styling */
#toggle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Filter heading styling */
.filter-heading {
    grid-column: span 3;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Toggle button styling */
.toggle-button {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    text-align: center;
    color: white; /* Keep toggle button text white */
    transition: background-color 0.3s, box-shadow 0.3s, outline-color 0.3s;
}

.toggle-button.active {
    background-color: rgba(255, 255, 255, 0.6);
    outline: 2.5px solid rgb(44, 220, 255);
    box-shadow: 0 0 15px 5px rgb(44, 220, 255);
}

.toggle-button.active.hover {
    background-color: rgba(255, 255, 255, 0.8);
    outline: 2px solid rgba(44, 220, 255, 0.5);
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.toggle-button:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Reset button styling */
#uncheck-btn {
    font-size: 0.875rem;
    padding: 8px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: white; /* Keep reset button text white */
}

#uncheck-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    #toggle-container {
        grid-template-columns: repeat(2, 1fr);
    }
}