body {
    margin: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh;
    font-family: 'Untitled', sans-serif;
    background: linear-gradient(rgb(255, 193, 93), rgb(255, 239, 212));
    color: rgb(255, 255, 255); /* Ensure text is white */
}

.container {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .3);
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 600px; /* Set a max-width for better alignment */
    text-align: center;
    margin: 10px;
}

.heading {
    font-size: 35px;
    font-weight: 700;
    text-shadow: 1px 1px 1px black; /* Add shadow to checkbox labels */
}

.verse {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 1px 1px 1px black; /* Add shadow to verse */
}

.location {
    font-size: 27px;
    margin: 10px;
    font-weight: bold; /* Make the text bold */
    font-style: italic;
    text-shadow: .8px .8px .8px black; /* Add shadow to checkbox labels */
}

.btn {
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    width: 300px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    transition: all 150ms ease-in-out;
}

.filter-container {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, .3);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

#toggle-container {
    display: grid;
    grid-template-columns: repeat(3, auto); /* Three columns */
    gap: 10px; /* Spacing between items */
    justify-content: center;
    margin-bottom: 20px;
}

.filter-heading {
    grid-column: span 3; /* Make the heading span all columns */
    font-size: 30px; /* Increase the font size */
    font-weight: 400; /* Make the text not bold */
    text-align: center;
    margin-top: 5px; /* Reduce the top margin */
    text-shadow: 1px 1px 1px black; /* Add shadow to filter heading */
}

.toggle-button {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    text-align: center;
    color: rgb(50, 50, 50);
    transition: outline-color 0.5s ease, box-shadow 0.5s ease; /* Add transition here */
}

.toggle-button.active {
    background-color: rgba(255, 255, 255, 0.6);
    outline: 3px solid rgb(44, 220, 255);
    box-shadow: 0 0 10px rgb(44, 220, 255);
}

.toggle-button:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    transition: all 150ms ease-in-out;
}

#uncheck-btn {
    font-size: 14px;
    padding: 8px;
    width: 150px;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    #toggle-container {
        grid-template-columns: repeat(2, auto); /* Two columns */
    }
}
